{#<a class="btn btn-sm btn-default items_link" href="{{ admin.generateObjectUrl('content', object) }}" title="Контент">#}
{#    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Контент#}
{#</a>#}