<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% block admin_panel %}
                {% if app.user and app.user.hasRole('ROLE_ADMIN') %}
                    {% include 'admin/toolbar.twig' %}
                {% endif %}
            {% endblock %}
            {% block header %}{% endblock %}
            {% block content %}{% endblock %}
            {% block footer %}{% endblock %}
        {% endblock %}
    </body>
</html>
